html {
    width: 480px;
    background: url('../media/escheresque_ste_wht.png');
    background-color: #000000;
    background-repeat: repeat;
}

/*body{
    border: solid 4px #0f0f0f;
}*/

nav {
    width: 100vw !important;
}

.card-content {
    height: 350px;
}

.brand-logo {
    font-family: 'Rajdhani', sans-serif !important;
    margin: 0;
}

.terminal::-webkit-scrollbar {
    width: 10px;
}

.terminal::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.terminal::-webkit-scrollbar-thumb {
    background: #888;
}

.terminal::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.terminal-wrapper {
    height: 300px;
    background: #1d1d1d;
    border-radius: 6px;
    overflow-y: scroll;
}

.terminal {
    height: 100%;
    width: 100%;
    padding: 6px;
}

.terminal li {
    color: #ffffff;
    margin-left: 6px;
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 12px;
}

.terminal li::before {
    content: "$ "
}

.tabs .indicator {
    background-color: #607d8b !important;
}

.tabs {
    border-radius: 4px 4px 0 0
}

.tab a {
    color: #263238
}

input[type=number] {
    text-align: right;
}

.bot-switch {
    margin-right: 12px;
}

.collapsible-body {
    padding: 1rem !important;
}

.com-list {
    font-size: 12px;
}

.collapsible-header code {
    padding: 2px 12px; 
    margin-right: 12px;
    border-radius: 3px;
    background: #1d1d1d;
    color: #f1f1f1
}

.com-list code {
    padding: 6px;
    padding-right: 32px;
    margin-left: 6px;
    border-radius: 6px;
    background: #1d1d1d;
    color: #f1f1f1
}

.com-list .com-title {
    font-size: 14px;
    padding-bottom: 6px;
}

.com-list .com-resp {
    font-weight: 500;
    padding: 6px;
    border-radius: 4px;
    border: solid 1px rgb(209, 209, 209);
}

.com-list .com-copy {
    position: relative;
}

.com-list .com-copy i:hover {
    color: #607d8b
}

.com-list i {
    position: absolute;
    right: 4px;
    top: 0px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}